<form fxLayout="column" fxLayoutAlign="center center" #accountAddEditForm="ngForm" fxLayoutGap="12px" novalidate>
    <h2 mat-dialog-title>
        {{ actionMode === 'Edit' ? 'Edit Account' : 'Add Account' }}
    </h2>
    <section class="account-add-section">
        <div mat-dialog-content>
            <mat-form-field>
                <input type="text" matInput placeholder="Name" [(ngModel)]="account.name" maxlength="50"
                 [disabled]="actionMode === 'Edit' && !isBankActive" name="name" id="name" required minlength="6">
                <mat-error>Name should contain at least 6 characters long.</mat-error>
            </mat-form-field>
        </div>
        <div mat-dialog-content>
            <mat-form-field>
                <input type="text" matInput placeholder="Account number" [(ngModel)]="account.number" maxlength="30"
                 [disabled]="actionMode === 'Edit' && !isBankActive" name="accountNumber" id="accountNumber" ngModel required>
                <mat-error>Account Number is mandatory.</mat-error>
            </mat-form-field>
        </div>
        <div mat-dialog-content>
            <mat-form-field floatLabel="always" appearance="none">
                <mat-label>Status</mat-label>
                <mat-slide-toggle [(ngModel)]="account.isActive" name="status" id="status" [disabled]="actionMode === 'Add' || !isBankActive">
                    <span class="text-invisible">
                        {{ account.isActive ? 'Active' : 'Inactive' }}
                    </span>
                </mat-slide-toggle>
                <textarea matInput hidden></textarea>
            </mat-form-field>
        </div>
        <div mat-dialog-content *ngIf="actionMode === 'Add'">
            <mat-form-field>
                <input type="number" matInput placeholder="Current balance" [(ngModel)]="account.currentBalance"
                 name="currentBalance" id="currentBalance" ngModel required>
                <mat-error>Current Balance Number is mandatory.</mat-error>
            </mat-form-field>
        </div>
        <div mat-dialog-content>            
            <mat-form-field [style.width.px]=120>
                <mat-label> Currency </mat-label>
                <mat-select #currencyInput="ngModel" name="currency" id="currency" 
                    [disabled]="actionMode === 'Edit'" [(ngModel)]="account.currency.id" required>
                    <mat-option value=""> - Select - </mat-option>
                    <mat-option *ngFor="let currency of currencies" [value]="currency.id">
                        {{currency.code}}
                    </mat-option>
                </mat-select>
                <mat-error>Currency is required.</mat-error>
            </mat-form-field>
            <div *ngIf="actionMode === 'Edit' && !isBankActive">
                <mat-label class="warn-label">This bank account cannot be edited because it is inactive.</mat-label>
            </div>
        </div>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cancel</button>
            <button type="submit" mat-button [mat-dialog-close]="false" (click)="onSave()"
             [disabled]="(actionMode === 'Edit' && !isBankActive) || accountAddEditForm.invalid" mat-raised-button color="primary">Save</button>
        </mat-dialog-actions>
    </section>
</form>