.account-actions-section {
    margin: 20px;
    max-width: 100%;
}

.actions-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.actions-radio-button {
  margin: 5px;
}

.break-line-200 {
  display:block;
  width: 200px;
}