<div class="password-reset" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="40px" fxLayoutAlign="center center">
    <section *ngIf="!isModelValid || processed">
        <h1>
            <mat-icon class="mat-icon-big" [ngStyle]="{'color': successfull ? 'green' : 'red' }">
                {{ successfull ? 'done_outline' : 'error_outline' }}
            </mat-icon>
        </h1>
        <p>{{message_response}}</p>
    </section>
    <section *ngIf="isModelValid && !processed" style="width: 350px;">
        <mat-card>
          <mat-card-title>Password Reset</mat-card-title>
          <mat-card-content>
            <form fxLayout="column" fxLayoutAlign="center center" #passwordResetForm="ngForm" fxLayoutGap="30px" (ngSubmit)="onSubmit(passwordResetForm)">
                <mat-form-field>
                    <input type="password" matInput placeholder="Password" #passwordInput="ngModel"
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,}$"
                        name="password" id="password" ngModel required>
                    <mat-error *ngIf="passwordInput.hasError('required')">
                        Password is required
                    </mat-error>
                    <mat-error *ngIf="passwordInput.hasError('pattern')">Password should be at least 8 characters long, contain upper and lower cased letter and a number.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input type="password" matInput placeholder="Password Confirmation" #passwordConfirmationInput="ngModel"
                        [errorStateMatcher]="passwordMatcher"
                        name="passwordConfirmation" id="passwordConfirmation" ngModel required>
                    <mat-error *ngIf="passwordConfirmationInput.hasError('required')">
                        Password Confirmation is required
                    </mat-error>
                    <mat-error *ngIf="passwordConfirmationInput.hasError('doesNotMatch')">Passwords does not match.</mat-error>
                </mat-form-field>
              <div class="button">
                <button type="submit" [disabled]="!passwordResetForm.valid" mat-raised-button color="primary">Submit</button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </section>
</div>  