@import '~@angular/material/theming';
@include mat-core();

$finance-app-primary: mat-palette($mat-teal, 400, 300, 700);
$finance-app-accent:  mat-palette($mat-deep-purple, A200, A100, A400);

$finance-app-warn: mat-palette($mat-red);
$background-color: map_get($mat-cyan, 50);

// Create the theme object (a Sass map containing all of the palettes).
$finance-app-theme: mat-light-theme($finance-app-primary, $finance-app-accent, $finance-app-warn);

// Insert custom background color
$background: map-get($finance-app-theme, background);
$background: map_merge($background, (background: $background-color));
$finance-app-theme: map_merge($finance-app-theme, (background: $background));

@include angular-material-theme($finance-app-theme);
